<div id='job_form'>
<%= form_for(@jobby_job) do |f| %> 
  <% if @jobby_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobby_job.errors.count, "error") %> prohibited this jobby_job from being saved:</h2>

      <ul>
      <% @jobby_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="four columns">
    <div class="actions" id="submit">
      <%= f.submit %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="four columns">
    <div class="field">
      <%= f.label :company %><%= f.text_field :company, { 
     class: 'u-full-width'} %> 
    </div>
  </div>

  <div class="four columns">
    <div class="field">
      <%= f.label :job_title %><%= f.text_field :job_title, { 
     class: 'u-full-width'} %>
    </div>
  </div>
  
  <div class="four columns">
    <div class="field">
      <%= f.label :website %><%= f.text_field :website, { 
     class: 'u-full-width'} %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">

  <div class="four columns">
    <div class="field">
      <%= f.label :street_address %><%= f.text_field :street_address, { 
     class: 'u-full-width'} %>
    </div>
  </div>

  <div class="four columns">
    <div class="field">
      <%= f.label :city %><%= f.text_field :city, { 
     class: 'u-full-width'} %>
    </div>
  </div>

    <div class="four columns">
    <div class="field">
      <%= f.label :zip_code %><%= f.text_field :zip_code, { 
     class: 'u-full-width'} %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="three columns">
    <div class="field">
      <%= f.label :rating %><%= f.number_field :rating, { 
     class: 'u-full-width'} %>
    </div>
  </div>

  <div class="three columns">
    <div class="field">
      <%= f.label :contact %><%= f.text_field :contact, { 
     class: 'u-full-width'} %>
    </div>
  </div>

  <div class="three columns">
    <div class="field">
      <%= f.label :phone %><%= f.text_field :phone, { 
     class: 'u-full-width'} %>
    </div>
  </div>

    <div class="three columns">
    <div class="field">
      <%= f.label :email %><%= f.text_field :email, { 
     class: 'u-full-width', placeholder:'Email address of compnay or contact.'} %>
    </div>
  </div>
</div>


<div class="row" style="padding:5px 20px 5px 10px;">


  <div class="twelve columns">
    <div class="field">
      <%= f.label :job_posting_url %><%= f.text_field :job_posting_url, { 
     class: 'u-full-width', placeholder:'Link to the site you found the job.'} %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="twelve columns">
    <div class="field">

      <%= f.label :description %><%= f.text_area :description, { 
     class: 'u-full-width', placeholder:'Great job.'} %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="six columns">
    <div class="field">
    <%= f.label :resume_to_be_sent %><%= f.text_field :resume_to_be_sent, { 
     class: 'u-full-width'} %>
    </div>
  </div>

  <div class="six columns">
    <div class="field">
    <%= f.label :resume_sent %><%= f.date_select :resume_actually_sent, { 
     class: 'u-full-width'} %>
    </div>
  </div>
<div>

<hr style="border-top:double 1px #C1CDCD" />
<hr style="border-top:double 1px #C1CDCD" />
<h3>Follow Up</h3>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="twelve columns">
    <div class="field">

      <%= f.label :follow_up_correspondence %><%= f.text_area :follow_up, { 
     class: 'u-full-width', placeholder:'Emails sent or recieved.'} %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="twelve columns">
    <div class="field">

      <%= f.label :challenge %><%= f.text_area :challenge, { 
     class: 'u-full-width', placeholder:'Programming challenege.'} %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="twelve columns">
    <div class="field">

      <%= f.label :interview_info %><%= f.text_area :interview_info, { 
     class: 'u-full-width', placeholder:'Information about the interview. Where it is, link to a map, who you will meet with, what to bring, what to be prepared for. After the fact: what questions were asked, any changes of who you met with. How you felt it went.'} %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="four columns">
    <div class="field">
      <%= f.label :interview %><%= f.datetime_select :interview %>

    </div>
  </div>
</div>

<% end %>
</div>
