<%= form_for(@jobby_job) do |f| %>
  <% if @jobby_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobby_job.errors.count, "error") %> prohibited this jobby_job from being saved:</h2>

      <ul>
      <% @jobby_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.number_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :job_posting_url %><br>
    <%= f.text_field :job_posting_url %>
  </div>
  <div class="field">
    <%= f.label :resume_to_be_sent %><br>
    <%= f.date_select :resume_to_be_sent %>
  </div>
  <div class="field">
    <%= f.label :resume_actually_sent %><br>
    <%= f.date_select :resume_actually_sent %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :follow_up %><br>
    <%= f.text_area :follow_up %>
  </div>
  <div class="field">
    <%= f.label :challenge %><br>
    <%= f.text_area :challenge %>
  </div>
  <div class="field">
    <%= f.label :interview %><br>
    <%= f.datetime_select :interview %>
  </div>
  <div class="field">
    <%= f.label :interview_info %><br>
    <%= f.text_area :interview_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
