<div id=form>
<%= form_for(@jobby_job) do |f| %> 
  <% if @jobby_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobby_job.errors.count, "error") %> prohibited this jobby_job from being saved:</h2>

      <ul>
      <% @jobby_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="three columns">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="three columns">
    <div class="field">
      <%= f.label :company %><%= f.text_field :company %> 
    </div>
  </div>

  <div class="three columns">
    <div class="field">
      <%= f.label :job_title %><%= f.text_field :job_title %>
    </div>
  </div>
  
  <div class="three columns">
    <div class="field">
      <%= f.label :website %><%= f.text_field :website %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="three columns">
    <div class="field">
      <%= f.label :rating %><%= f.number_field :rating %>
    </div>
  </div>

  <div class="three columns">
    <div class="field">
      <%= f.label :street_address %><%= f.text_field :street_address %>
    </div>
  </div>

  <div class="three columns">
    <div class="field">
      <%= f.label :city %><%= f.text_field :city %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="three columns">
    <div class="field">
      <%= f.label :zip_code %><%= f.text_field :zip_code %>
    </div>
  </div>

  <div class="three columns">
    <div class="field">
      <%= f.label :contact %><%= f.text_field :contact %>
    </div>
  </div>


  <div class="three columns">
    <div class="field">
      <%= f.label :phone %><%= f.text_field :phone %>
    </div>
  </div>
</div>


<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="four columns">
    <div class="field">
      <%= f.label :email %><%= f.text_field :email %>
    </div>
  </div>

  <div class="four columns">
    <div class="field">
      <%= f.label :job_posting_url %><%= f.text_field :job_posting_url %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="twelve columns">
    <div class="field">
      <%= f.label :description %><%= f.text_area :description %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="three columns">
    <div class="field">
      <%= f.label :follow_up %><%= f.text_area :follow_up %>
    </div>
  </div>


  <div class="three columns">
    <div class="field">
    <%= f.label :challenge %><%= f.text_area :challenge %>
    </div>
  </div>

  <div class="three columns">
    <div class="field">
      <%= f.label :interview_info %><%= f.text_area :interview_info %>
    </div>
  </div>
</div>

<div class="row" style="padding:5px 20px 5px 10px;">
  <div class="three columns">
    <div class="field">
    <%= f.label :resume_to_be_sent %><%= f.date_select :resume_to_be_sent %>
    </div>
  </div>

  <div class="three columns">
    <div class="field">
    <%= f.label :resume_sent %><%= f.date_select :resume_actually_sent %>
    </div>
  </div>


  <div class="three columns">
    <div class="field">
      <%= f.label :interview %><%= f.datetime_select :interview %>
    </div>
  </div>
</div>



<% end %>
</div>
