<p id="notice"><%= notice %></p>

<h1>Jobby Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Resume to be sent</th>
      <th>Resume actually sent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobby_jobs.each do |jobby_job| %>
      <tr>
        <td><%= jobby_job.company %></td>
        <td><%= jobby_job.resume_to_be_sent %></td>
        <td><%= jobby_job.resume_actually_sent %></td>
        <td><%= link_to 'Show', jobby_job %></td>
        <td><%= link_to 'Edit', edit_jobby_job_path(jobby_job) %></td>
        <td><%= link_to 'Destroy', jobby_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobby-Job', new_jobby_job_path %>
