<div style="padding: 20px;">
<p id="notice"><%= notice %></p>

<h1>Listing Jobby Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Job title</th>
      <th>Rating</th>
      <th>City</th>
      <th>Resume to be sent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobby_jobs.each do |jobby_job| %>
      <tr>
        <td><%= link_to jobby_job.company, jobby_job %></td>
        <td><%= jobby_job.job_title %></td>
        <td><%= jobby_job.rating %></td>
        <td><%= jobby_job.city %></td>
        <td><%= jobby_job.resume_to_be_sent %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobby job', new_jobby_job_path %>
</div>
