<p id="notice"><%= notice %></p>
<div style="width:600px; border:solid 1px #ccc; padding: 10px;">
<h1>
  <%= @jobby_job.company %>
</h1>

<h2>
  <%= @jobby_job.job_title %>
</h2>

<h3>
  <%= link_to @jobby_job.website, @jobby_job.website %> | 
  <%= @jobby_job.city %> | 
  <strong>Rating:</strong>
  <%= @jobby_job.rating %> | <a href="followup">Follow Up</a>
</h3>
<p style="border:solid 1px #ccc; padding: 10px;">
<%= link_to 'Edit', edit_jobby_job_path(@jobby_job) %> |
<%= link_to 'Destroy', jobby_job_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', jobby_jobs_path %>
</p>

<p style="border:solid 1px #ccc; padding: 10px;">
  <strong>Contact:</strong>
  <%= @jobby_job.contact %><br />
  <%= @jobby_job.phone %><br />
  <%= @jobby_job.email %><br />
  <%= @jobby_job.street_address %><br />
  <%= @jobby_job.city %><br />
  <%= @jobby_job.zip_code %><br />
</p>

<p>
  <strong>Job posting url:</strong>
  <%= @jobby_job.job_posting_url %>
</p>

<p>
  <strong>Resume to be sent:</strong>
  <%= @jobby_job.resume_to_be_sent %>
</p>

<p>
  <strong>Resume actually sent:</strong>
  <%= @jobby_job.resume_actually_sent %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jobby_job.description %>
</p>
<hr />
<h2 id="followup">Follow up</h2>
  <p>
  <strong>Follow up email:</strong>
  <%= @jobby_job.follow_up %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @jobby_job.challenge %>
</p>

<p>
  <strong>Interview:</strong>
  <%= @jobby_job.interview %>
</p>

<p>
  <strong>Interview info:</strong>
  <%= @jobby_job.interview_info %>
</p>


</div>
