<div id='nvbr'>
  <%= link_to 'JobbyJob', root_url %>
  <%= link_to 'Edit', edit_jobby_job_path(@jobby_job), class: 'button button-primary' %>
  <%= link_to 'Destroy', jobby_job_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button-primary' %>
</div>

<div id='showpage'>
  <h2>
    <%= @jobby_job.company %>
  </h2>

  <h4>
    <%= @jobby_job.job_title %>
  </h4>

  <p style="background: #C1CDCD; font-family:raleway; font-size:16px; padding: 5px 10px;">
    Resume Sent:
    <%= @jobby_job.resume_actually_sent.strftime("%a, %b %d") %> | 
    <%= link_to @jobby_job.website, @jobby_job.website %> | 
    <%= @jobby_job.city %> | 
    Rating:
    <%= @jobby_job.rating %> | <a href="#followup">Follow Up</a> | 
    <%= link_to 'Job Posting Link', @jobby_job.job_posting_url %>
  </p>

  <p style="border:solid 1px #ccc; padding: 10px;">
    <strong>Contact: </strong><%= @jobby_job.contact %><br />
    <strong>Phone: </strong><%= @jobby_job.phone %><br />
    <strong>Email: </strong><%= @jobby_job.email %><br />
    <strong>Address: </strong><%= @jobby_job.street_address %><br />
    <%= @jobby_job.city %><br />
    <%= @jobby_job.zip_code %><br />
  </p>

  <div style="border:solid 1px #ccc; padding: 10px;">
    <p>
      <strong>Job Description:</strong>
      <%= simple_format @jobby_job.description %>
    </p>
  </div>

  <hr />

  <h2 id="followup">Follow up</h2>
  <p>
    <strong>Follow up email:</strong>
    <%= simple_format @jobby_job.follow_up %>
   </p>

   <p>
     <strong>Challenge:</strong>
     <%= simple_format @jobby_job.challenge %>
  </p>

  <p>
     <strong>Interview:</strong>
     <%= simple_format @jobby_job.interview %>
  </p>

   <p>
     <strong>Interview info:</strong>
     <%= simple_format @jobby_job.interview_info %>
  </p>
</div>
